$alert-box-opacity: 0.2;

.alert-box {
  padding-right: 3.25rem;
  width: 100%;
  border-radius: 5px;

  &.callout {
    color: #333;
    font-weight: bold;
  }

  &.alert {
    color: $alert-color;
    border: 3px solid $alert-color;
    background-color: rgba($alert-color, $alert-box-opacity);
  }

  &.warning {
    border: 3px solid $warning-color;
    background-color: rgba($warning-color, $alert-box-opacity);
  }

  &.success {
    border: 3px solid $success-color;
    background-color: rgba($success-color, $alert-box-opacity);
  }

  &.info {
    border: 3px solid $primary-color;
    background-color: rgba($primary-color, $alert-box-opacity);
  }
  small {
    color: #555;
  }

  i {
    border: 2px solid #555;
    border-radius: 50%;
    padding: .3em .325em;
    margin-right: 0.5rem;
  }

  .close-button {
    color: rgba(#555, 0.5);
    font-size: 2rem;
  }
}
