/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2016, 5:01:40 PM
    Author     : Sami Holck
*/



$sphp6-border-decoration: solid 2px #FF8000;
$sphp6-topbar-bg: #121212;
$sphp6-topbar-menu-bg: smart-scale($sphp6-topbar-bg, 5%);
$sphp6-topbar-link-hover-bg: smart-scale($sphp6-topbar-menu-bg, 5%);
$sphp6-topbar-font-color: #e6e6e6;
$sphp6-topbar-link-font-color: smart-scale($sphp6-topbar-font-color, 5%);
$sphp6-topbar-title-font-color:  smart-scale($sphp6-topbar-font-color, 25%);//#8a8a8a;
$sphp6-root-border-color: #4e4e4e;