@charset "UTF-8";
@import "compass/css3";
@import "../vendor/GeSHi";
.sphp-syntax-highlighter {
  position: relative;
  border: solid 1px #aaa;
  .syntax {
    font-family: "Source Code Pro", monospace;
  }
  .button-area {
    margin: rem-calc(2);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    button {
      margin: rem-calc(2);
      font-size: rem-calc(13); 
      @include border-radius(3px);
      background-color: #aaa;
      line-height: 1.3;
      padding: rem-calc(5 10 5 10); /* top right bottom left */
    }
  }
  .foot {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;	
    text-align: right;
    padding: rem-calc(5 10 5 10); /* top right bottom left */
    background: #eee;
    border-top: solid 1px #bbb;
  };
}
  .orbit-slide.sphp-shl {
    h2 {
      
    }
    .sphp-syntax-highlighter {
      height: 100%;
      
    }
    .foot {
      bottom: 0;
    }
  }