/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2016, 3:03:20 AM
    Author     : samih_000
*/

.callout {
  .close-button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
