ErrorDocument 400 /index.php?error=400
ErrorDocument 401 /index.php?error=400
ErrorDocument 402 /index.php?error=400
ErrorDocument 403 /index.php?error=400
ErrorDocument 404 /index.php?error=404
ErrorDocument 405 /index.php?error=400
ErrorDocument 406 /index.php?error
ErrorDocument 407 /index.php?error
ErrorDocument 408 /index.php?error
ErrorDocument 409 /index.php?error
ErrorDocument 410 /index.php?error
ErrorDocument 411 /index.php?error
ErrorDocument 412 /index.php?error
ErrorDocument 500 /index.php?error
ErrorDocument 501 /index.php?error
ErrorDocument 502 /index.php?error
ErrorDocument 503 /index.php?error
ErrorDocument 504 /index.php?error
