Options -MultiViews
    RewriteEngine On
    RewriteRule ^(API/sami) - [L]
    RewriteRule ^(API/jsdoc) - [L]
    RewriteRule ^([a-z0-9]+).svg /manual/ajax/svg.php?id=$1 [QSA,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/x-javascript

# Or, compress certain file types by extension:
<files *.php>
SetOutputFilter DEFLATE
</files>
# prevent mime based attacks
Header set X-Content-Type-Options "nosniff"
