<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
         bootstrap="sphp/php/tests/bootstrap.php">
  <testsuites>
    <testsuite name="all">
      <directory>./sphp/php/tests/</directory>
    </testsuite>
    <testsuite name="one">
      <file>./sphp/php/tests/sphp/Html/Foundation/Core/DataOptionToolsTest.php</file>
    </testsuite>
    <testsuite name="config">
      <directory>./sphp/php/tests/sphp/Config</directory>
    </testsuite>
    <testsuite name="dt">
      <directory>./sphp/php/tests/sphp/DateTime</directory>
    </testsuite>
    <testsuite name="filters">
      <directory>./sphp/php/tests/sphp/Filters</directory>
    </testsuite>
    <testsuite name="html">
      <directory>./sphp/php/tests/sphp/Html</directory>
    </testsuite>
    <testsuite name="html-head">
      <directory>./sphp/php/tests/sphp/Html/Head</directory>
    </testsuite>
    <testsuite name="html-media">
      <directory>./sphp/php/tests/sphp/Html/Media</directory>
    </testsuite>
    <testsuite name="html-attrs">
      <directory>./sphp/php/tests/sphp/Html/Attributes</directory>
    </testsuite>
    <testsuite name="html-forms">
      <directory>./sphp/php/tests/sphp/Html/Forms</directory>
    </testsuite>
    <testsuite name="foundation">
      <directory>./sphp/php/tests/sphp/Html/Foundation</directory>
    </testsuite>
    <testsuite name="foundation-grids">
      <directory>./sphp/php/tests/sphp/Html/Foundation/Sites/Grids</directory>
    </testsuite>
    <testsuite name="mvc">
      <directory>./sphp/php/tests/sphp/MVC</directory>
    </testsuite>
    <testsuite name="stdlib">
      <directory>./sphp/php/tests/sphp/Stdlib</directory>
    </testsuite>
    <testsuite name="stdlib-events">
      <directory>./sphp/php/tests/sphp/Stdlib/Events</directory>
    </testsuite>
    <testsuite name="stdlib-networks">
      <directory>./sphp/php/tests/sphp/Stdlib/Networks</directory>
    </testsuite>
    <testsuite name="stdlib-ds">
      <directory>./sphp/php/tests/sphp/Stdlib/Datastructures</directory>
    </testsuite>
    <testsuite name="stdlib-observers">
      <directory>./sphp/php/tests/sphp/Stdlib/Observers</directory>
    </testsuite>
    <testsuite name="stdlib-parsers">
      <directory>./sphp/php/tests/sphp/Stdlib/Parsers</directory>
    </testsuite>
    <testsuite name="stdlib-str">
      <file>./sphp/php/tests/sphp/Stdlib/StringManipulationTest.php</file>
      <file>./sphp/php/tests/sphp/Stdlib/MbStringSpecificTest.php</file>
    </testsuite>
    <testsuite name="stdlib-bitmask">
      <file>./sphp/php/tests/sphp/Stdlib/BitMaskTest.php</file>
    </testsuite>
    <testsuite name="stdlib-stopwatch">
      <file>./sphp/php/tests/sphp/Stdlib/StopWatchTest.php</file>
    </testsuite>
    <testsuite name="stdlib-random">
      <directory>./sphp/php/tests/sphp/Stdlib/Random</directory>
    </testsuite>
    <testsuite name="stdlib-filesystem">
      <file>./sphp/php/tests/sphp/Stdlib/FilesystemTest.php</file>
    </testsuite>
    <testsuite name="stdlib-arrays">
      <file>./sphp/php/tests/sphp/Stdlib/ArraysTest.php</file>
    </testsuite>
    <testsuite name="validators">
      <directory>./sphp/php/tests/sphp/Validators</directory>
    </testsuite>
  </testsuites>
  
  <logging>
    <log type="coverage-html" target="reports/coverage"/>
    <!--<log type="coverage-clover" target="reports/logs/clover.xml"/>-->
  </logging>

  <filter>
    <whitelist>
      <directory>./sphp/php/Sphp/</directory>
    </whitelist>
  </filter>
</phpunit>
