$today-background: #fc3;
$holiday-background: #fcc;
$day-background: #f3f3f3;
$border-color: #555;

@mixin sphp-calendar-month() { 
  .sphp.calendar.month {
    .head {
      .week-day-name {
        margin: rem-calc(1);
        border: solid 2px #666;
        @include border-radius(3px);
        text-align: center;
        font-weight: bold;
        @include opacity(.6);
        &.active {
          @include opacity(.9);
        }
      }
    }
    .date {
      margin: rem-calc(1);
      @include sphp-calendar-date();
    }
    .date, .week-day-name, span {
      @include transition(all, 0.5s, ease-in-out);
    }
  }

  div.sphp.week-row {
    &:hover {
      div.sphp.calendar.date {
        @include opacity(.85);
        &.not-selected-month {
          @include opacity(.7);
        }
      }
    }
  }
}
@mixin sphp-calendar-date() {
  @include shadow();
  overflow: hidden;
  height: rem-calc(90);
  .grid-y {
    height: rem-calc(90);
  }
  border: solid 1px #666;
  @include border-radius(3px);
  text-align: center;
  background-color: rgba(#fff, 1);
  font-weight: bolder;
  color: #666;
  @include opacity(.65);
  .right-column {
    text-align: right;
    .flag {
      display: inline-block;
      margin: rem-calc(1);
      svg {
        height: rem-calc(20);
        padding: rem-calc(1);
        border: solid 1px #aaa;
        @include border-radius(2px);
      }
    }
    time {
      padding: rem-calc(4);
      .day-number {
        font-size: rem-calc(24);
      }
    }
  }

  &.has-info {
    cursor: pointer;
    .right-column {
      border-left: solid 4px rgba(#090, .5);
    }
    .grid-y {
      border-left: solid 1px #444;
    }
  }
  &.not-selected-month {
    @include opacity(.4);
    background-color: rgba(#eee, .2);
    border-color: #888;
  }
  .left-column {
    border-right: solid 1px #888;
    time {
      font-size: rem-calc(12);
      padding: rem-calc(4 3 10 3);
      &.current-week {
        color: #000;
        text-decoration: underline;
      }
      &.not-monday {
        color: #333;
        @include opacity(.3);
      }
    }
    background-color: rgba(#aaa, .6);

  }
  &.holiday, &.sunday {
    .right-column {
      background-color: rgba(#fbb, .5);
    }
    .left-column {
      background-color: rgba(#f77, .5);
    }
  }
  &.today {
    time {
      text-decoration: underline;
      font-size: rem-calc(18);
    }
    border: solid 2px #333;
    .left-column {
      border-right: solid 2px #333;
    }
  }
  &:hover , &.active {
    @include opacity(1);
    &.has-info {
      border-color: #222;
      /* margin: 0;
       height: rem-calc(92);
       .grid-y {
         height: rem-calc(92);
       }*/
      .day-number {
        text-decoration: underline;
      }
    }
    &.not-selected-month {
      @include opacity(.85);
    }
  }
}
