
@mixin sphp-calendar-month() { 
  div.sphp.calendar-month {
    .cell {
      > div {
        margin: rem-calc(1);
      }
      .month-selector {
        font-size: rem-calc(20);
        color: #666;
        padding-left: rem-calc(10);
      }
      div.head {
        border: solid 1px #555;
        @include border-radius(2px);
        text-align: center;
        font-weight: bold;
      }
      div.sphp.calendar-day {
        &.has-info {
          border: solid 2px #811;
          &:hover {
            cursor: pointer;
            border: solid 2px #c22;
          }
        }
        .week-nr {
          font-size: rem-calc(12);
          border-right: solid 1px #888;
          float: left;
          padding: rem-calc(2 4 2 4);
          background-color: rgba(#eee, .4);
          height: 100%;
          min-width: rem-calc(26);
        }
        time {
          float: right;
          margin-right: 2px;
          padding: rem-calc(4);
        }
        span.foo {
          color: tomato;
          margin: auto;
          cursor: pointer;
          &:hover {
            color: #f00;
            fill: #f00;
          }
        }
        height: rem-calc(50);
        border: solid 1px #aaa;
        @include border-radius(2px);
        text-align: center;
        &.today {
          background-color: rgba(#ff9900, .2);
          border-width: 2px;
          border-color: #555;
          font-weight: bolder;
        }
        &.selected-month {
          font-weight: bold;
          @include opacity(1);
        }
        &.not-selected-month {
          color: #999;
          @include opacity(.7);
        }
        &.sunday:not(.today) {
          background-color: rgba(#d11, .25);
        }
        &.holiday:not(.sunday)  {
          background-color: rgba(#e55, .1);
        }
      }
    }
  }
}

