/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 19, 2018, 6:18:25 PM
    Author     : Sami Holck <sami.holck@gmail.com>
*/
.icon-example-popup {
  padding: rem-calc(14);
  h2, h3 {
    background-color: #eee;
  }
  h2 {
    padding: rem-calc(8 5);
    margin: rem-calc(-14 -14 5 -14);
    border-bottom: solid #aaa 1px;
  }
  h3 {
    margin: rem-calc(15 -6 15 -6);
    padding: rem-calc(3 5);
    border: solid #aaa 1px;
    @include border-radius(3px);
  }
  .icon-container {

    border: solid 1px #777;
    @include border-radius(3px);
    text-align: center;
    background-color: #fefefe;
    font-size: rem-calc(60);
    margin: rem-calc(1);
    i {
      margin: rem-calc(3);
    }
    svg {
      margin: rem-calc(3);
      height: rem-calc(60);
    }
    .call {
      border-top: #777 dotted 1px ;
      font-size: rem-calc(14);
    }
    .ext {
      border-bottom: #777 dotted 1px ;
      @include border-top-radius(3px);
      font-family: $font-family-monospace;
      padding: rem-calc(3);
      background-color: #eee;
      font-size: rem-calc(14);
    }
  }
}
