
.gnu-license .cell {
  padding-bottom: rem-calc(20);
  background-color: #fafafa;
  background-image: url(http://playground.samiholck.com/manual/pics/official-gnu.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;

}
