@font-face {
  font-family: 'Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: 'Mono';
  src: url(../fonts/Roboto-Mono.ttf);
  font-display: swap;
}
@font-face {
  font-family: logo-font;
  src: url(../fonts/SPACE.ttf);
  font-display: swap;
}
