.social-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  //margin-top: rem-calc(0);
  background-color: $dark-gray;
  border-top: 2px solid #444;
  border-bottom: 1px solid #222;
  .social {
    @include grid-row();
    color:$light-gray;
    padding: rem-calc(20 0 30 0);
    a {
      //color:$light-gray !important;
    }
    .footer-left {
      @include breakpoint(small) {
        @include grid-column(12);
      }
      @include breakpoint(medium) { 
        @include grid-column(6);
      }
      @include breakpoint(large) { 
        @include grid-column(5);
      }
      /* .input-group-field {
         background: $white
       }*/
    }

    .footer-right {
      text-align: right;
      @include breakpoint(small) {
        @include grid-column(12); 
      }
      @include breakpoint(medium) {
        @include grid-column(6);
      }
    }
    .fa {
      padding: 0 0 0 0.6rem;
      color: #e5e5e5; 
      &:hover {
        color: #fff; 
      }
    }
    h2 {
      color: $white;
    }
    p {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
}
