@mixin sphp-cookie-banner() {


  .sphp.cookie-banner { 
    z-index: 1000000;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0.5em 10%;
    background: rgba(#222, 0.95);
    border-top: solid 2px rgba(#f91, .7);
    p {
      strong {
        font-size: rem-calc(20);
      }
      font-size: rem-calc(18);
      font-weight: 700;
      text-shadow: 0 -1px 0 rgba(#333,0.35);
      text-align: center; 
      color: rgb(255,255,250);
      margin: rem-calc(10);
      a {
        color: rgb(255,255,250);
      }
    }
    .button-group {
      cursor: pointer;
      .button {
        @include border-radius(3px);
        border: solid 1px rgba(#f91, .5);
        path {
          color: rgba(#f91, .7);
        }
        i {
          color: rgba(#f91, .7);
          margin-right: rem-calc(5);
        }
      }
    }
  }
}