@mixin sphp-cookie-banner() {


  .sphp.cookie-banner { 
    z-index: 1000000;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0px;
    padding: 0.5em 10%;
    background: rgba(86,86,86,0.95);
    border-top: solid 2px rgba(#f91, .7);
    p {
      font-size: rem-calc(15);
      font-weight: 700;
      text-shadow: 0 -1px 0 rgba(#333,0.35);
      text-align: center; 
      color: rgb(255,255,250);
      margin: 4px;
      z-index: 999;
    }
    .button-group {
      cursor: pointer;
    }
  }
}